@model IEnumerable<EncuestasWeb.Models.Encuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Encuestas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentosDigitale.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.nombreGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicadore.valorIndicador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtipo.NombreSubtipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentosDigitale.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.nombreGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indicadore.valorIndicador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtipo.NombreSubtipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
