@model IEnumerable<EncuestasWeb.Models.Indicadore>

@{
    ViewBag.Title = "Indicadores";
}

<h2>Indicadores</h2>

<p>
    @Html.ActionLink("Crear Nuevo Indicador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valorIndicador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valorIndicador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
